/** @format */

/* START - CSS reset */

/* Andy Bell's reset + Adjustments */

/* 
My adjustments:
- padding set to 0 using the * selector
- {display: block; max-width: 100%} includes selectors: video, canvas, svg and original img, picture
*/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* END - CSS reset */

/* START - App styles */

/* Mobile first design */

/* START - General styles */

@font-face {
	font-family: "Figtree";
	/* format("ttf"); does not work. It has to be "truetype" */
	src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
	font-weight: 300 900;
	font-display: swap;
}

:root {
	--Yellow: hsl(47, 88%, 63%);
	--White: hsl(0, 0%, 100%);
	--Gray-500: hsl(0, 0%, 42%);
	--Gray-950: hsl(0, 0%, 7%);
}

html {
	font-family: "Figtree";
	font-weight: 500;
	color: var(--Gray-950);
	background-color: var(--Yellow);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* END - General styles */

/* START - Specific styles */

.wrapper {
	position: relative;
}

.card {
	background-color: var(--White);
	max-width: 20.3125rem;
	border: 0.09375rem solid var(--Gray-950);
	padding: 1.375rem;
	border-radius: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0.5rem 0.5rem;
}

img.article-image {
	border-radius: 0.75rem;
	/* Stretch image */
	/* max-width: 100%;  already in reset - prevents overflow */
	aspect-ratio: 1.4 / 1;
	width: 100%; /* Without this, aspect ratio uses the original img's width, not width on page */
	height: auto; /* Allows the image to adjust its height based on the aspect ratio */
	object-fit: cover; /* ensures that the entire area defined by the aspect ratio is covered by the image content */
	margin-bottom: 1.5rem;
}

.tag {
	background-color: var(--Yellow);
	padding: 0.3125rem 0.75rem;
	border-radius: 0.3125rem;
	font-weight: 800;
	font-size: 0.75rem;
	margin-bottom: 0.625rem;
}

.published {
	font-size: 0.75rem;
}

h2 {
	font-weight: 800;
	font-size: 1.25rem;
	margin: 1rem 0;
}

.brief {
	color: var(--Gray-500);
	font-size: 0.875rem;
	margin-bottom: 1rem;
}

.author {
	display: flex;
	align-items: center;
}

img.avatar {
	display: inline;
	height: 1.875rem;
	width: 1.875rem;
	margin-right: 0.625rem;
}

.name {
	font-weight: 800;
	font-size: 0.875rem;
}

.attribution {
	position: absolute;
	width: 100%;
	bottom: -2rem;
	font-size: 0.6875rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* active states */

.tag,
h2,
.author {
	cursor: pointer;
}

h2.active,
h2:hover,
.author.active,
.author:hover {
	color: var(--Yellow);
}

/* END - Specific styles */

@media (min-width: 376px) {
	.card {
		max-width: 23.75rem;
	}

	img.article-image {
		aspect-ratio: revert;
	}

	.tag,
	.published {
		font-size: 0.875rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	.brief {
		font-size: 1rem;
	}

	.attribution {
		font-size: 0.8125rem;
	}
}

/* END - App styles */
